<h1>PARTIDOS</h1>

<div class="topnav">
    <a routerLink="/Mx">Copa Mx</a>
    <a routerLink="/Ascenso">Ascenso Mx</a>
</div>

<table class="table table-borderless table-light" style="width: 70%; margin-left: 90px;">
    <thead>
      <tr>
        <th scope="col">ENERO</th>
      
      </tr>

      <table class="table table-borderless table-active" style="width: 75%;">
        <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let game of games; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{game[1].opponent}}</td>
          <td>
            <img src={{game[1].opponent_image}} style="width: 50px; height: 50px;">
            
          </td>
          <td>{{game[1].home_score}}</td>
            <td>{{game[1].away_score}}</td>
            <td><img src="/assets/imagenes/venadosfc.ico" style="width: 40px; height: 48px;"></td>
            <td>VenadosFC</td>
        </tr>
        <tr *ngFor="let game of games; index as i">
          <th scope="row">{{ i + 2 }}</th>
          <td>VenadosFC</td>
            <td><img src="/assets/imagenes/venadosfc.ico" style="width: 40px; height: 48px;"></td>
            <td>{{game[3].away_score}}</td>
            <td>{{game[3].home_score}}</td>
            <td><img src={{game[3].opponent_image}} style="width: 50px; height: 50px;"></td>
            <td>{{game[3].opponent}}</td>
        </tbody>
      </table>
    </thead>
</table>
<table class="table table-borderless table-light" style="width: 70%; margin-left: 90px;">
    <thead>
      <tr>
        <th scope="col">FEBRERO</th>
      
      </tr>

      <table class="table table-borderless table-active" style="width: 75%;">
        <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let game of games; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{game[4].opponent}}</td>
          <td>
            <img src={{game[4].opponent_image}} style="width: 50px; height: 50px;">
            
          </td>
          <td>{{game[4].home_score}}</td>
            <td>{{game[4].away_score}}</td>
            <td><img src="/assets/imagenes/venadosfc.ico" style="width: 40px; height: 48px;"></td>
            <td>VenadosFC</td>
        </tr>
        <tr *ngFor="let game of games; index as i">
          <th scope="row">{{ i + 2 }}</th>
          <td>VenadosFC</td>
            <td><img src="/assets/imagenes/venadosfc.ico" style="width: 40px; height: 48px;"></td>
            <td>{{game[5].away_score}}</td>
            <td>{{game[5].home_score}}</td>
            <td><img src={{game[5].opponent_image}} style="width: 50px; height: 50px;"></td>
            <td>{{game[5].opponent}}</td>
        </tr>
        <tr *ngFor="let game of games; index as i">
            <th scope="row">{{ i + 3 }}</th>
            <td>{{game[6].opponent}}</td>
            <td>
              <img src={{game[6].opponent_image}} style="width: 50px; height: 50px;">
              
            </td>
            <td>{{game[6].home_score}}</td>
              <td>{{game[6].away_score}}</td>
              <td><img src="/assets/imagenes/venadosfc.ico" style="width: 40px; height: 48px;"></td>
              <td>VenadosFC</td>
          </tr>
          <tr *ngFor="let game of games; index as i">
            <th scope="row">{{ i + 4 }}</th>
            <td>VenadosFC</td>
              <td><img src="/assets/imagenes/venadosfc.ico" style="width: 40px; height: 48px;"></td>
              <td>{{game[7].away_score}}</td>
              <td>{{game[7].home_score}}</td>
              <td><img src={{game[7].opponent_image}} style="width: 50px; height: 50px;"></td>
              <td>{{game[7].opponent}}</td>
          </tr>
          <tr *ngFor="let game of games; index as i">
            <th scope="row">{{ i + 5 }}</th>
            <td>VenadosFC</td>
              <td><img src="/assets/imagenes/venadosfc.ico" style="width: 40px; height: 48px;"></td>
              <td>{{game[8].away_score}}</td>
              <td>{{game[8].home_score}}</td>
              <td><img src={{game[8].opponent_image}} style="width: 50px; height: 50px;"></td>
              <td>{{game[8].opponent}}</td>
          </tr>
        </tbody>
      </table>
    </thead>
</table>