#car{
   margin-left: 200px;
   margin-top: 50px;
}

.front{
   width: 92%;
   margin-left: 110px;
   margin-top: 30px;
   border-bottom-left-radius: 20px;
   border-top-left-radius: 20px;
   border-bottom-right-radius: 20px;
   border-top-right-radius: 20px;
 }