<div class="container">
    <h2 style="color: white;">JUGADORES</h2>
    <h3 style="text-align: center; color: white;">PORTEROS</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="background-image: url(/assets/imagenes/portero1.png); width: 90px;height: 90px;">
                        
                      </button>

                    <!-- The Modal -->
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title"></h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <h3 style="text-align: center;">FICHA TÉCNICA</h3>
                                    <br>
                                    <p style="text-align: center;">Raiko Azorena</p>
                                    <br>
                                    <p style="text-align: center;">Portero</p>
                                    <br>
                                    <br>
                                    <h3 style="text-align: center;">FECHA DE NACIMIENTO</h3>
                                    <h5 style="text-align: center;"> 21 DE NOVIEMBRE DE 1980</h5>
                                    <br>
                                    <h3 style="text-align: center;">LUGAR DE NACIMIENTO</h3>
                                    <h5 style="text-align: center;"> Jacona, Michoacán</h5>
                                    <br>
                                    <h3 style="text-align: center;">PESO</h3>
                                    <h5 style="text-align: center;">80.0 KG</h5>
                                    <br>
                                    <h3 style="text-align: center;">ALTURA</h3>
                                    <h5 style="text-align: center;">1.8 M</h5>
                                    <br>
                                    <h3 style="text-align: center;">EQUIPO ANTERIOR</h3>
                                    <h5 style="text-align: center;">VenadosFC</h5>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btnn btn-secondary" data-dismiss="modal">Cerrar</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </th>
                <th>
                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="background-image: url(/assets/imagenes/portero2.png); width: 90px;height: 90px;">
                        
                   </button>

                    <!-- The Modal -->
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Portero 2</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body2">
                                    <h3 style="text-align: center;">FICHA TÉCNICA</h3>
                                    <br>
                                    <p style="text-align: center;">Armando Navarrete</p>
                                    <br>
                                    <p style="text-align: center;">Portero</p>
                                    <br>
                                    <br>
                                    <h3 style="text-align: center;">FECHA DE NACIMIENTO</h3>
                                    <h5 style="text-align: center;"> 21 DE NOVIEMBRE DE 1980</h5>
                                    <br>
                                    <h3 style="text-align: center;">LUGAR DE NACIMIENTO</h3>
                                    <h5 style="text-align: center;"> Jacona, Michoacán</h5>
                                    <br>
                                    <h3 style="text-align: center;">PESO</h3>
                                    <h5 style="text-align: center;">80.0 KG</h5>
                                    <br>
                                    <h3 style="text-align: center;">ALTURA</h3>
                                    <h5 style="text-align: center;">1.8 M</h5>
                                    <br>
                                    <h3 style="text-align: center;">EQUIPO ANTERIOR</h3>
                                    <h5 style="text-align: center;">VenadosFC</h5>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btnn btn-secondary" data-dismiss="modal">Cerrar</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </th>
                <th>
                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="background-image: url(/assets/imagenes/portero3.png); width: 90px;height: 90px;">
                        
                   </button>

                    <!-- The Modal -->
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Portero 3</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <h3 style="text-align: center;">FICHA TÉCNICA</h3>
                                    <br>
                                    <p style="text-align: center;">Rafael Ramirez</p>
                                    <br>
                                    <p style="text-align: center;">Portero</p>
                                    <br>
                                    <br>
                                    <h3 style="text-align: center;">FECHA DE NACIMIENTO</h3>
                                    <h5 style="text-align: center;"> 21 DE NOVIEMBRE DE 1980</h5>
                                    <br>
                                    <h3 style="text-align: center;">LUGAR DE NACIMIENTO</h3>
                                    <h5 style="text-align: center;"> Jacona, Michoacán</h5>
                                    <br>
                                    <h3 style="text-align: center;">PESO</h3>
                                    <h5 style="text-align: center;">80.0 KG</h5>
                                    <br>
                                    <h3 style="text-align: center;">ALTURA</h3>
                                    <h5 style="text-align: center;">1.8 M</h5>
                                    <br>
                                    <h3 style="text-align: center;">EQUIPO ANTERIOR</h3>
                                    <h5 style="text-align: center;">VenadosFC</h5>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btnn btn-secondary" data-dismiss="modal">Cerrar</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </th>


            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <h1></h1>
                </th>
                <th>
                    <h3 style="text-align: center; color: white;">DEFENSAS</h3>
                </th>
                <th>
                    <h1></h1>
                </th>

            </tr>
        </tbody>
        <tbody>
            <tr>
                <th>
                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="background-image: url(/assets/imagenes/defensa1.png); width: 90px;height: 90px;">
                        
                    </button>

                    <!-- The Modal -->
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Portero 3</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <h3 style="text-align: center;">FICHA TÉCNICA</h3>
                                    <br>
                                    <p style="text-align: center;">Armando Navarrete</p>
                                    <br>
                                    <p style="text-align: center;">Medio</p>
                                    <br>
                                    <br>
                                    <h3 style="text-align: center;">FECHA DE NACIMIENTO</h3>
                                    <h5 style="text-align: center;"> 21 DE NOVIEMBRE DE 1980</h5>
                                    <br>
                                    <h3 style="text-align: center;">LUGAR DE NACIMIENTO</h3>
                                    <h5 style="text-align: center;"> Jacona, Michoacán</h5>
                                    <br>
                                    <h3 style="text-align: center;">PESO</h3>
                                    <h5 style="text-align: center;">80.0 KG</h5>
                                    <br>
                                    <h3 style="text-align: center;">ALTURA</h3>
                                    <h5 style="text-align: center;">1.8 M</h5>
                                    <br>
                                    <h3 style="text-align: center;">EQUIPO ANTERIOR</h3>
                                    <h5 style="text-align: center;">VenadosFC</h5>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btnn btn-secondary" data-dismiss="modal">Cerrar</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </th>
                <th>
                    <h1>
                        <!-- Button to Open the Modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="background-image: url(/assets/imagenes/defensa2.png); width: 90px;height: 90px;">
                            
                       </button>

                        <!-- The Modal -->
                        <div class="modal fade" id="myModal">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Portero 3</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <h3 style="text-align: center;">FICHA TÉCNICA</h3>
                                        <br>
                                        <p style="text-align: center;">Armando Navarrete</p>
                                        <br>
                                        <p style="text-align: center;">Portero</p>
                                        <br>
                                        <br>
                                        <h3 style="text-align: center;">FECHA DE NACIMIENTO</h3>
                                        <h5 style="text-align: center;"> 21 DE NOVIEMBRE DE 1980</h5>
                                        <br>
                                        <h3 style="text-align: center;">LUGAR DE NACIMIENTO</h3>
                                        <h5 style="text-align: center;"> Jacona, Michoacán</h5>
                                        <br>
                                        <h3 style="text-align: center;">PESO</h3>
                                        <h5 style="text-align: center;">80.0 KG</h5>
                                        <br>
                                        <h3 style="text-align: center;">ALTURA</h3>
                                        <h5 style="text-align: center;">1.8 M</h5>
                                        <br>
                                        <h3 style="text-align: center;">EQUIPO ANTERIOR</h3>
                                        <h5 style="text-align: center;">VenadosFC</h5>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btnn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </h1>
                </th>
                <th>
                    <h1>
                        <!-- Button to Open the Modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="background-image: url(/assets/imagenes/defensa3.png); width: 90px;height: 90px;">
                            
                       </button>

                        <!-- The Modal -->
                        <div class="modal fade" id="myModal">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Portero 3</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <h3 style="text-align: center;">FICHA TÉCNICA</h3>
                                        <br>
                                        <p style="text-align: center;">Armando Navarrete</p>
                                        <br>
                                        <p style="text-align: center;">Portero</p>
                                        <br>
                                        <br>
                                        <h3 style="text-align: center;">FECHA DE NACIMIENTO</h3>
                                        <h5 style="text-align: center;"> 21 DE NOVIEMBRE DE 1980</h5>
                                        <br>
                                        <h3 style="text-align: center;">LUGAR DE NACIMIENTO</h3>
                                        <h5 style="text-align: center;"> Jacona, Michoacán</h5>
                                        <br>
                                        <h3 style="text-align: center;">PESO</h3>
                                        <h5 style="text-align: center;">80.0 KG</h5>
                                        <br>
                                        <h3 style="text-align: center;">ALTURA</h3>
                                        <h5 style="text-align: center;">1.8 M</h5>
                                        <br>
                                        <h3 style="text-align: center;">EQUIPO ANTERIOR</h3>
                                        <h5 style="text-align: center;">VenadosFC</h5>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btnn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </h1>
                </th>

            </tr>
        </tbody>
    </table>
</div>






<router-outlet>

</router-outlet>