<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <h2 style="color: white;">Estadísticas</h2>

        <table class="table">
            <thead>
                <tr>
                    <th style="color: white;">TABLA GENERAL</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th style="color: white;">JJ</th>
                    <th style="color: white;">DG</th>
                    <th style="color: white;">PTS</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        <h1 style="color: white;">1</h1>
                    </th>
                    <th>
                        <img class="ven" src="/assets/imagenes/venadosfc.png" width="55px">
                    </th>
                    <th>
                        <h3 style="color: white;">VenadosFC.</h3>
                    </th>
                    <td>
                        <h2></h2>
                    </td>
                    <td>
                        <h2 style="color: white;">5</h2>
                    </td>
                    <td>
                        <h2 style="color: white;">6</h2>
                    </td>
                    <td>
                        <h2 style="color: white;">6</h2>
                    </td>
                </tr>
                <tr>
                    <th>
                        <h1 style="color: white;">2</h1>
                    </th>
                    <th>
                        <img class="ven" src="/assets/imagenes/venadosfc.png" width="55px">
                    </th>
                    <th>
                        <h3 style="color: white;">VenadosFC.</h3>
                    </th>
                    <td>
                        <h2></h2>
                    </td>
                    <td>
                        <h2 style="color: white;">2</h2>
                    </td>
                    <td>
                        <h2 style="color: white;">5</h2>
                    </td>
                    <td>
                        <h2 style="color: white;">8</h2>
                    </td>

                </tr>
                <tr>
                    <th>
                        <h1 style="color: white;">3</h1>
                    </th>
                    <th>
                        <img class="ven" src="/assets/imagenes/venadosfc.png" width="55px">
                    </th>
                    <th>
                        <h3 style="color: white;">VenadosFC.</h3>
                    </th>
                    <td>
                        <h2></h2>
                    </td>
                    <td>
                        <h2 style="color: white;">1</h2>
                    </td>
                    <td>
                        <h2 style="color: white;">3</h2>
                    </td>
                    <td>
                        <h2 style="color: white;">6</h2>
                    </td>
                </tr>
                <th>
                    <h1 style="color: white;">4</h1>
                </th>
                <th>
                    <img class="ven" src="/assets/imagenes/venadosfc.png" width="55px">
                </th>
                <th>
                    <h3 style="color: white;">VenadosFC.</h3>
                </th>
                <td>
                    <h2></h2>
                </td>
                <td>
                    <h2 style="color: white;">5</h2>
                </td>
                <td>
                    <h2 style="color: white;">6</h2>
                </td>
                <td>
                    <h2 style="color: white;">6</h2>
                </td>
                <tr>
                    <th>
                        <h1 style="color: white;">5</h1>
                    </th>
                    <th>
                        <img class="ven" src="/assets/imagenes/venadosfc.png" width="55px">
                    </th>
                    <th>
                        <h3 style="color: white;">VenadosFC.</h3>
                    </th>
                    <td>
                        <h2></h2>
                    </td>
                    <td>
                        <h2 style="color: white;">5</h2>
                    </td>
                    <td>
                        <h2 style="color: white;">6</h2>
                    </td>
                    <td>
                        <h2 style="color: white;">6</h2>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>

<router-outlet></router-outlet>