<router-outlet>

</router-outlet>
<style>
    table {
        border-collapse: collapse;
        border-spacing: 8;
        width: 100%;
        border: 1px solid green;
        background-color: black;
        opacity: 70%;
        ;
    }
    
    th,
    td {
        text-align: left;
        padding: 8px;
        width: 10%;
        border: 2cm;
        color: white;
        font-size: 23px;
        font-family: helvetica;
    }
    
    tr:nth-child(even) {
        background-color: #f2f2f2
    }
    
    .cabecera,
    th {
        color: black;
    }
</style>

<div style="overflow-x:auto;">
    <div *ngFor="let statistics of stadistics">
        <table class="table">

            <tr>
                <th style="color: white;">TABLA GENERAL</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr class="cabecera">
                <th>Posicion</th>
                <th></th>
                <th>Equipo</th>
                <th>JJ</th>
                <th>JG</th>
                <th>JP</th>
                <th>GF</th>
                <th>GC</th>
                <th>Score</th>
                <th>Points</th>

            </tr>
            <tr>

                <td>{{statistics.position}}</td>
                <td><img src={{statistics.image}} style="width: 45px; height: 45px;" /></td>
                <td>{{statistics.team}}</td>
                <td>{{statistics.games}}</td>
                <td>{{statistics.win}}</td>
                <td>{{statistics.loss}}</td>
                <td>{{statistics.Tie}}</td>
                <td>{{statistics.f_goals}}</td>
                <td>{{statistics.a_goals}}</td>
                <td>{{statistics.score_diff}}</td>

            </tr>

        </table>
    </div>
</div>